.image.is-16 {
	width: 16rem;
	height: 16rem;
}

.image.is-leizure {
	width: 18rem;
	height: 18rem;
}

.image.is-working {
	width: 18rem;
	height: 18rem;
}

.image.is-gif {
	width: 23rem;
	height: 23rem;
}


.image.is-study {
	width: 20rem;
	height: 20rem;
}

.image.is-wow {
	width: 16rem;
	height: 16rem;
}

.image.is-worker {
	width: 13rem;
	height: 13rem;
}

.image.is-balloon {
	width: 12rem;
	height: 12rem;
}

.image.is-hi {
	width: 12rem;
	height: 12rem;
	margin-bottom: 11rem !important;
}

.column.with-top-bottom {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.title.is-900 {
	font-weight: 900;
}

.title.is-0 {
	font-size: 4rem;
	margin-bottom: 3rem;
}

.dark {
	color: #363636;
}
.dark:hover {
	color: #7bc99a;
}

.navbar-item {
	font-weight: 900;
	text-transform: uppercase;
}
.navbar-item:hover {
	color: #7bc99a;
}

.navbar {
	margin-bottom: 10rem;
}

.etonblue {
	color: #7bc99a;
}

.social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	margin-right: 2rem;
	background-color: #363636;
	width: 4rem;
	height: 4rem;
	color: #fff;
	border-radius: 50%;
}
.social-icon:hover {
  background-color: #7BC99A;
  color: #fff;
}

.columns.is-resume {
    margin-left: 6rem !important;
    margin-bottom: 15rem !important;
}

.column.centered {
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.column.logo {
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin-top: 0rem !important;
}

.column.is-primary {
	color: #d6430d;
}

.column.is-devtool {
	color: #d6430d;
	font-size: 4rem;
}

.column.is-balloon {
	margin-top: -10rem !important;
}

.is-trophy {
	color: #FDCD00;
	font-size: 1.25rem;
}

.smallblock {
  margin-bottom: 1rem;
}


@media screen and (max-width: 768px) {
	.column.is-mobile-margin {
		margin-bottom: 5rem !important; }
	.columns.is-resume {
		margin-right: 1rem !important;
	    margin-left: 1rem !important;
	    margin-bottom: 8rem !important; }

	.image.is-working {
		width: 12rem;
		height: 12rem; }
	.image.is-wow {
		width: 13rem;
		height: 13rem; }
	.image.is-worker {
		width: 10rem;
		height: 10rem; }
	.image.is-balloon {
		width: 8rem;
		height: 8rem; }

	.title.is-1 {
	    font-size: 2rem; }
	  .title.is-3 {
	    font-size: 1.25rem; }
	  .title.is-5 {
	    font-size: 0.75rem; }
	.title.is-0 {
		font-size: 2rem;
		margin-bottom: 3rem; }
	.column.is-devtool {
		font-size: 2rem; }
}

html {
  scroll-behavior: smooth;
}

.image.is-spy {
  margin-top: -15rem;
  width: 10rem;
  height: 10rem;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}


@keyframes example {
  0%   {left:2rem; top:0rem;}
  100% {left:2rem; top:13rem;}
}